<div class="top-padding"></div>
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-7 change-password-form">
      <form ngNativeValidate (submit)="changePassword()" >
        <div class="text-center">
          <hr>
          <h3 class="full-width">Change Password</h3>
          <hr>
          <div class="container"><br>
            <div class="row">
              <div class="col-md-4">
                <br>
                <mat-label class="full-width">Current Password :</mat-label>
              </div>
              <div class="col-md-6 full-width">
                <mat-form-field>
                  <input name="currentPassword" [(ngModel)]="currentPassword" matInput placeholder="Enter Current Password"
                         [type]="oldhide ? 'password' : 'text'" required>
                  <button mat-icon-button matSuffix (click)="oldhide = !oldhide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="oldhide">
                    <mat-icon>{{oldhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <br>
                <mat-label>New Password :</mat-label>
              </div>
              <div class="col-md-6 full-width">
                <mat-form-field>
                  <input name="newPassword" [(ngModel)]="newPassword" matInput placeholder="Enter New password"
                         [type]="newhide ? 'password' : 'text'" required>
                  <button mat-icon-button matSuffix (click)="newhide = !newhide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="newhide">
                    <mat-icon>{{newhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <br>
                <mat-label>Verify Password :</mat-label>
              </div>
              <div class="col-md-6 full-width">
                <mat-form-field>
                  <input name="confirmPassword" [(ngModel)]="confirmPassword" matInput placeholder="Enter Verify password"
                         [type]="verifyhide ? 'password' : 'text'" required>
                  <button mat-icon-button matSuffix (click)="verifyhide = !verifyhide"
                          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="verifyhide">
                    <mat-icon>{{verifyhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-2">
                <button type="submit" id="save" name="save" class="btn"> Save</button>
              </div>
              <div class="col-md-2">
                <button type="reset" id="cancel" name="cancel" class="btn"> Cancel</button>
                <br><br>
              </div>
            </div>
            <div class="col-md-12">
              <li class="alert alert-success" *ngIf="successMsg"> {{successMsg}}</li>
              <li class="alert alert-danger" *ngIf="errorMsg"> {{errorMsg}} </li>
            </div>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
