
.amount{
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.full-width{
  width: 100%;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.card{
  padding: 2%;
}
.mat-divider{
  color:black;
}
.center-align{
  align-content: center;
  text-align: center;
  align-items: center;
}
