<div class="top-margin p-3" style="background-color: linen">
       <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Page Title Area
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="page-title-area bg-white-smoke">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content text-center">
                            <div class="page-header-caption">
                                <h2 class="page-title p-2" style="background-color: rgb(63, 43, 23); color: yellow;">Terms & conditions</h2>
                            </div><!--~~./ page-header-caption ~~-->
                          </div><!--~~./ page-header-content ~~-->
                    </div>
                </div>
            </div><!--~~./ end container ~~-->
        </div><!--~~./ end page title area ~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            Start Terams Conditions Block
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="terams-conditions-block ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="page-info-content terams-conditions-content">
                            <div class="single-info-block">
                              <hr>
                                <h2 class="heading-main">Welcome to Online-Auction</h2><hr>
                                <!-- <p>Dictum vestibulum nulla justo sed, ligula rutrum sollicitudin, vivamus non. Nunc donec tincidunt, vivamus repellat habitanaccumsan faucibus ante in mauris. Lorem purus leo eleifend semper sit, donec duis vel orci lorem consectetuer, lacus lorem praesent elit odio ut, tortor id metus fermentum mi ipsum, quisque proin. Aptent aliquet facilisis</p> -->
                                <ul>
                                    <b><p style="font-size:18px;">Online terms and conditions are in addition to any general onsite auction terms and conditions </p></b>
  
                                        <p style="font-size:18px;">All registration information the Bidder provides to Auctioneer shall be current, complete, and accurate. Bidders must be 18 years of age or older. Bidder agrees to not use any device, software or routine to interfere or attempt to interfere with the proper working of or any transaction being conducted on and during the auction sale.  </p>
                                        
                                        <p style="font-size:18px;">1.ACCESSING THIS SITE, YOU AGREE TO ACCEPT, WITHOUT LIMITATION OR QUALIFICATION, ALL OF THE TERMS AND CONDITIONS OF THE SITE USER 
                                        AGREEMENT and to comply with all applicable laws, statutes, ordinances and regulations regarding your use of this Site. Legal action will be taken against anyone violating the terms and conditions of the Site User Agreement or any other applicable law or regulation. Auctioneer reserves the right to periodically change the terms and conditions of the User Site Agreement and it is the Bidders’ responsibility to periodically review any and all changes made to these terms and conditions prior to each use of this Site. By using this Site, you agree in advance to accept any such changes. </p>


                                        <p style="font-size:18px;">2.Online Auction Fee: Auctioneer shall charge and collect from each successful bidder a Fifteen Percent Auction Fee for each item, in addition to the final high bid amount. </p>
                                        
                                        <p style="font-size:18px;">3.	You will be suspended or permanently banned from the Site if you provide false information when registering, such as a false name or fraudulent contact information. You will be permanently banned from this Site if you are the successful Bidder and you do not honor your auction bid.</p>
                                        <p style="font-size:18px;">4.Auctioneer gathers information about Bidders and Owner/Sellers for the purposes of conducting online auctions. Auctioneer does not sell or rent this information.  </p>
                                        <p style="font-size:18px;">5.As a Bidder, placing a bid is a binding contract between you and the Owner/Seller and the bid cannot be retracted. Once you place a bid, and if you win, you will be obligated to buy the product at the said price you indicated as your bid.</p>
                                        <p style="font-size:18px;">6.As a Bidder you are responsible for any bids placed under your bidding number and password. The security of your Bidder information is your sole responsibility as you, the Bidder, will be responsible for any and all bids placed under your number. If at any time you feel that your Bidder number and password have been compromised due to lack of security on your part you must notify Auctioneer immediately.  </p>
                                        <p style="font-size:18px;">7.You agree that you will not use any robot, spider, other automatic device, or manual process to monitor or copy the Site or the content contained herein without our prior, express written permission. </p>
                                        <p style="font-size:18px;">8.Auctioneer uses email mailing lists to notify its customers about online and live auctions. If you are receiving a particular mailing and wish to discontinue receiving future mailings, simply forward the received email to Auctioneer to have your name promptly removed from our list. </p>
                                        <p style="font-size:18px;">9.Base Payment must be done before taking part in online auction.</p>
                                        <p style="font-size:18px;">10.The Owner/Sellers of property sold through this web site reserve the right to reject any and all bids, if they so choose.  </p>
                                        <p style="font-size:18px;">11.The Payment done by any participant must be through paytm only.</p>
                                        <p style="font-size:18px;">12.If the Bidder has registered properly than he will receive password with a confirmation mail</p>
                                        <p style="font-size:18px;">13.Bidder accepts responsibility for and agrees to indemnify, defend and hold harmless each Owner/Seller and Auctioneer and their employees, governing body, officers, owners, affiliates, subsidiaries, directors, agents and representatives from and against any and all claims, losses, damages, liabilities, judgments, fees, costs and expenses </p>
                                        <p style="font-size:18px;">14.All material and content as provided by the service is protected by copy right and similiar right</p>
                                        <p style="font-size:18px;">15.You should comply with all applicable domestic and interational laws,statues,ordinances and regulation regarding use of our service and our bidding on,listing,purchase,and salesof items.</p>
                                        
                                        <b><p style="font-size:20px;">Your use of this auction site marks your acceptance in full of these Terms and Conditions. </p></b>
                                        
                                </ul>
                            </div><!-- /.single-info-block --><br/>

                        </div><!-- /.page-info-content -->
                    </div><!-- /.col-lg-10 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!--~~./ end terams conditions block ~~-->
  </div>
