<div class="top-padding"></div>
<div class="px-4 px-lg-0">
  <!-- For demo purpose -->

  <!-- End -->


  <div class="cart-container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-6">
        <h1 class="font-weight-bold">Order Details</h1>
      </div>
      <div class="col-12 col-sm-6 col-lg-6" style="padding-top: 20px;">
        <label class="font-weight-bold">Order Id #{{order.orderId}}, placed on {{order.orderDate}}</label>
      </div>
    </div>

    <hr class="order-hr">

    <div class="row p-3 col-12 col-sm-12">
      <div class="col-12 col-sm-6 col-lg-8 bg-white rounded shadow-sm sub-container-1" style="margin-right: 3%;">
        <div class="table full-width">
          <div class="row">
            <table class="table col-12">
              <thead>
              <tr>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase">Product</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Product Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Total Price</div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase">Quantity</div>
                </th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let product of orderProducts">
                <th scope="row" class="border-1">
                  <div class="p-2">
                    <img src="{{product.firstImageData}}" alt="" width="70" class="img-fluid rounded shadow-sm">
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0"><a href="#" class="text-dark d-inline-block align-middle">{{product.name}}</a>
                      </h5>
                      <span
                        class="text-muted font-weight-normal font-italic d-block">Category: {{product.categoryName}}</span>
                    </div>
                  </div>
                </th>
                <td class="border-1 align-middle"><strong>Rs. {{product.productPrice}}</strong></td>
                <td class="border-1 align-middle"><strong>Rs. {{product.totalPrice}}</strong></td>
                <td class="border-1 align-middle"><strong>{{product.quantity}}</strong></td>
              </tr>

              <!--<tr>
                <th scope="row" class="border-0">
                  <div class="p-2">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg" alt=""
                         width="70" class="img-fluid rounded shadow-sm">
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0"><a href="#" class="text-dark d-inline-block align-middle">Timex Unisex
                        Originals</a></h5>
                      <span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span>
                    </div>
                  </div>
                </th>
                <td class="border-0 align-middle"><strong>$79.00</strong></td>
                <td class="border-0 align-middle"><strong>3</strong></td>
                <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="p-2">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg" alt=""
                         width="70" class="img-fluid rounded shadow-sm">
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Lumix camera lense</a></h5>
                      <span class="text-muted font-weight-normal font-italic">Category: Electronics</span>
                    </div>
                  </div>
                </th>
                <td class="align-middle"><strong>$79.00</strong></td>
                <td class="align-middle"><strong>3</strong></td>
                <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="p-2">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg" alt=""
                         width="70" class="img-fluid rounded shadow-sm">
                    <div class="ml-3 d-inline-block align-middle">
                      <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Gray Nike running shoe</a></h5>
                      <span class="text-muted font-weight-normal font-italic">Category: Fashion</span>
                    </div>
                  </div>
                <td class="align-middle"><strong>$79.00</strong></td>
                <td class="align-middle"><strong>3</strong></td>
                <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                </td>
              </tr>-->
              </tbody>
            </table>

            <div class="col-sm-1"></div>


          </div>
        </div>
      </div>

      <div class="col-12 col-sm-5 col-lg-3 bg-white">
          <div class="p-4"><div class="bg-light px-4 py-3 text-uppercase font-weight-bold rounded-pill">Order summary</div></div>
          <div class="p-3 bg-white">
            <p class="font-italic mb-4">Shipping and additional costs are included in order total.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order
                Subtotal </strong><strong>Rs. {{order.orderAmount}}</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong
                class="text-muted">Order Total</strong>
                <h5 class="font-weight-bold">Rs. {{order.orderAmount}}</h5>
              </li>
            </ul>
          </div>
      </div>
    </div>

    <div class="row p-3 col-12 col-sm-12">
      <div class="col-sm-5 bg-white rounded shadow-sm sub-container-2">
        <hr>
        <h4 class="font-weight-bold"> Billing Information</h4>
        <hr>
          <div class="col-12 col-sm-12">
              <div class="row">
                  <label class="font-weight-bold col-sm-4">Payment Method </label>
                  <label class="col-sm-8"><span class="font-weight-bold">: </span> {{order.paymentMode}}</label>
              </div>
              <div class="row">
                  <label class="font-weight-bold col-sm-4">Bank Name </label>
                  <label class="col-sm-8"><span class="font-weight-bold">: &nbsp;</span> {{order.paymentBank}}</label>
              </div>
              <div class="row">
                  <label class="font-weight-bold col-sm-4">Currency </label>
                  <label class="col-sm-8"><span class="font-weight-bold">: &nbsp;</span> {{order.currency}}</label>
              </div>
          </div>
        <br>


      </div>

      <div class="col-sm-5 col-sm-5 bg-white rounded shadow-sm sub-container-2">
        <hr>
        <h4 class="font-weight-bold"> Shipping Information</h4>
        <hr>
              <div class="col-12">
                <div class="row">
                    <label class="font-weight-bold col-sm-4">Contact Person </label>
                    <label class="col-sm-8"><span class="font-weight-bold">: &nbsp;</span> {{order.contactPerson}}</label>
                </div>
                <div class="row">
                    <label class="font-weight-bold col-sm-4">Contact No. </label>
                    <label class="col-sm-8"><span class="font-weight-bold">: &nbsp;</span> {{order.contactNo}}</label>
                </div>
                <div class="row">
                    <label class="font-weight-bold col-sm-4">Email id </label>
                    <label class="col-sm-8"><span class="font-weight-bold">: &nbsp;</span> {{order.email}}</label>
                </div>
                <div class="row">
                    <label class="font-weight-bold col-sm-4">Address </label>
                    <label class="col-sm-8"><span class="font-weight-bold">: &nbsp;</span> {{order.fullAddress}}</label>
                </div>
            </div>

        <br>
      </div>
    </div>

  </div>
</div>
