<!--
		<footer class="pt-5 pb-4" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">ABOUT US</h5>
						<p class="mb-4"></p>
						<ul class="f-address">
							<li>
								<div class="row">
									<div class="col-1"><mat-icon>location_on</mat-icon></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Address:</h6>
										<p>Opposite Karnavati Club, Sarkhej - Gandhinagar Hwy, Makarba, Ahmedabad, Gujarat 380015, India</p>
									</div>
								</div>
							</li>
							<li>

							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
              <div class="row">
                <div class="col-1"><i class="far fa-envelope"></i></div>
                <div class="col-10">
                  <h6 class="font-weight-bold mb-0">Have any questions?</h6>
                  <p><a href="#">maheshkumarb2612@gmail.com</a></p>
                </div>
              </div>
							<div class="row">
									<div class="col-1"><i class="fas fa-phone-volume"></i></div>
									<div class="col-10">
										<h6 class="font-weight-bold mb-0">Help Line No.:</h6>
                    <a href="#">+91 1111111111</a>
									</div>
								</div>
                <br>
            <h6 class=""> Help Us</h6><br>

					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<ul class="recent-post">
							<li>
								<span [routerLink]="['/feedback']" routerLinkActive="router-link-active">
                  <button mat-button class="header-font-color"> Feedback </button>
                </span><br>
                <span [routerLink]="['/help']" routerLinkActive="router-link-active">
                <button mat-button class="header-font-color"> Help-Us </button>
              </span>
          </li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
						<h5 class="mb-4 font-weight-bold">CONNECT WITH US</h5>
						<div class="input-group">
						  	<input type="text" class="form-control" placeholder="Your Email Address">
						  	<span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
						</div>
						<ul class="social-pet mt-4">
							<li><a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" title="twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#" title="instagram"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>


		<section class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ">
						<div class="text-center text-white">
							&copy; 2020 Online-Auction. All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</section>
 -->





<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #292155;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Shri Chimanbhai Patel Institue Of Computer Applications</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Important Page</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a [routerLink]="['/home']" routerLinkActive="router-link-active"> Home</a>
        </p>
        <p>
          <a [routerLink]="['/product-listing']" routerLinkActive="router-link-active"> Products</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a [routerLink]="['/terms-and-Conditions']" routerLinkActive="router-link-active">Terms & Conditions</a>
        </p>
        <p>
          <a [routerLink]="['/feedback']" routerLinkActive="router-link-active"> Feedback</a>
        </p>
        <p>
          <a [routerLink]="['/about-us']" routerLinkActive="router-link-active"> About US </a>
        </p>
        <p>
          <a [routerLink]="['/help']" routerLinkActive="router-link-active"> Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Opposite Karnavati Club, Sarkhej -
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gandhinagar Hwy, Makarba,<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ahmedabad, Gujarat, India</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> maheshkumarb2612@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 91 885 567 88</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Online-Auction</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



