
<div class=" bg-white top-padding">
<nav class="navbar navbar-expand-lg navbar-light py-3">
	<div class="container bg-white"><a href="#" class="navbar-brand d-flex align-items-center"> <i class="fa fa-snowflake-o fa-lg text-primary mr-2"></i><strong>ONLINE AUCTION</strong></a>
	  <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
	  <div id="navbarSupportedContent" class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">

		</ul>
	  </div>
	</div>
  </nav>

  <div class="">
	<div class="container py-5">
	  <div class="row h-100 align-items-center py-5">
		<div class="col-lg-6">
		  <h1 class="display-4"><u>About Us</u></h1>
		  <p class="lead text-muted mb-0">
			  We provide a secure bidding to customers.We provide security by doing base payment before auction take place.We allow customers to manage their product.We allow customers to choose the items they like to bid for.We decide the winners of the auction.
		  </p>
		  <p class="lead text-muted"><a href="https://bootstrapious.com/snippets" class="text-muted"></a>
		  </p>
		</div>
		<div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
	  </div>
	</div>
  </div>

  <div class="bg-white py-5">
	<div class="container py-5">
	  <div class="row align-items-center mb-5">
		<div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
		  <h2 class="font-weight-light"><u>WE ARE NOT</u></h2>
		  <p class="font-italic text-muted mb-4"> We Are Not Stackers , Marketing Firm , CEO Experts And Social Media
         Marketers</p>
         <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
		</div>
		<div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
	  </div>
	  <div class="row align-items-center">
		<div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
		<div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
		  <h2 class="font-weight-light"><u>WHAT WE DO</u></h2>
      <p class="font-italic text-muted mb-4"> We Do Auction , Bidding , Manage Buyers And Sellers , Providing Best Items For Auction , Time Relevant And Best Customer Service </p>
      <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
		</div>
	  </div>
	</div>
  </div>


<div class="container z-depth-1">
  <section class="p-md-3 mx-md-5 text-center text-lg-left">
    <h2 class="text-center mx-auto font-weight-bold mb-4 pb-2">Our Team</h2>
    <h4 class="text-center mx-auto font-weight-bold mb-2 pb-1">We are Collaborators and Specialists</h4>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="p-4">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="../../../../assets/team photos/romil.jpg"
              class="img-fluid rounded-circle z-depth-1"
            />
          </div>
          <div class="text-center mt-3">
            <h6 class="font-weight-bold pt-2">Romil Patel</h6>
            <p class="text-muted">
              <small>
                <i>DEVELOPER</i>
              </small>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="p-4">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="../../../../assets/team photos/maheshkumar.jpg"
              class="img-fluid rounded-circle z-depth-1"
            />
          </div>
          <div class="text-center mt-3">
            <h6 class="font-weight-bold pt-2">Maheshkumar Savita</h6>
            <p class="text-muted">
              <small
                ><i
                  >DEVELOPER</i
                ></small
              >
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="p-4">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
              class="img-fluid rounded-circle z-depth-1"
            />
          </div>
          <div class="text-center mt-3">
            <h6 class="font-weight-bold pt-2">Deepak Vasita</h6>
            <p class="text-muted">
              <small
                ><i
                  >DEVELOPER</i
                ></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


  <footer class="bg-white pb-5 ">
	<div class="container text-center">
	  <p class="text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
	</div>
  </footer>
</div>
