<div class="top-padding"></div>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-7 reset-password-form">
                  <div class="text-center">
                  <hr><h3 class="full-width">Set New Password</h3><hr>
                  <div class="container"><br>
                        <div class="row">
                          <div class="col-md-4">
                            <br><mat-label>New Password : </mat-label>
                          </div>
                          <div class="col-md-6 full-width">
                            <mat-form-field>
                              <input matInput placeholder="Enter New password" [type]="npwdhide ? 'password' : 'text'">
                              <button mat-icon-button matSuffix (click)="npwdhide = !npwdhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="npwdhide">
                              <mat-icon>{{npwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <br><mat-label>Verify Password : </mat-label>
                          </div>
                          <div class="col-md-6 full-width">
                            <mat-form-field>
                              <input style="border:black; size:1px;" matInput placeholder="Enter Verify password" [type]="vpwdhide ? 'password' : 'text'">
                              <button mat-icon-button matSuffix (click)="vpwdhide = !vpwdhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="vpwdhide">
                              <mat-icon>{{vpwdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>
                        </div>
                        <br><br>
                        <div class="row">
                          <div class="col-md-7"></div>
                          <div class="col-md-2">
                              <button id="save" name="save" class="btn" (click)="match('newpwd','verifypwd')"> Save </button>
                          </div>
                          <div class="col-md-2">
                            <button id="cencel" name="cencel" class="btn"> Cancel </button>
                            <br><br>
                        </div>
                        </div>
                  </div>

                </div>
      </div>
  </div>
</div>
